@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");

.slidev-layout.cover {
  @apply h-full grid;

  h1 + p {
    @apply -mt-0 opacity-50 mb-6;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }

  p {
    padding-top: 0.2rem;
    font-size: 1.75rem;
  }

  #date {
    @apply text-2xl;
  }

  li p {
    font-size: 1.25rem;
    margin: 0.25rem;
  }

  li {
    font-size: 1.25rem;
  }

  .underline {
    text-decoration: underline;
  }
}

.slidev-layout.pageBar {
  /* @apply h-full grid; */

  h1 {
    font-size: 50px;

    padding: 0.15rem 0;
  }

  h1 + p {
    @apply -mt-1 opacity-50 mb-4;

    font-size: 1.25rem;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

/* Footnotes... */
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 60%;
}

/* General Formatting... */

body {
  font-family: "EB Garamond", "Palatino Linotype", "Book Antiqua", Palatino,
    "Microsoft YaHei", "Songti SC", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald";
}

.slidev-layout h1 {
  padding-bottom: 0.8em;
}

/* But not for the cover slide */
.cover h1 {
  padding-bottom: 0;
}

.cover h2 {
  padding-bottom: 0.8em;
}

img,
video,
iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

ul {
  padding-left: 15px;
}

li p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Headers and Fonts*/
h1,
h2,
h3 {
  margin-top: 0;
  padding-top: 0.5em;
  font-family: "Oswald";
  font-weight: 400;
  margin-left: 0;
}

.footer {
  border-top: 1.5px solid #440379;
  font-size: 10pt;
  font-family: "Oswald";
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
}

.slidev-layout table {
  width: fit-content;
  font-size: medium;
  margin: 0px auto;
}

.slidev-layout thead {
  background-color: #440379;
  color: white;
}

.slidev-layout th {
  text-align: center;
  font-weight: 600;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.slidev-layout td {
  text-align: right;
}

.slidev-layout td:first-child {
  text-align: left;
}

.slide-number {
  font-size: 10pt;
  font-family: "Oswald";
  text-align: center;

  position: absolute;
  bottom: 1%;
  right: 1%;
}

div.footer p {
  margin-top: 10px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

div.footer img {
  height: 30px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}
